.color-lien{color:#FFA500;}

.througe {background-color:#c03000 ;}

.thorange {background-color:#FF8C00;}

.thjaune {background-color:#FFD700;}

.thvert {color:#7FFF00;}



.dropdown-child2 {
  display: none;
}

.dropdown2:hover .dropdown-child2 {
  display: block;
}


