<main>
  <div class="container">
    <div class="row">
      <div>
        <h3>A propos</h3>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-8">
        <h2>Historique</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et hendrerit ante. Quisque tempor
          turpis id
          cursus porttitor. Ut in massa pulvinar orci consectetur lacinia. Nullam nec nibh neque. Integer
          tristique
          congue odio sed molestie. Nunc feugiat eleifend purus, quis imperdiet odio ornare feugiat.
          Vestibulum a
          ligula pretium, iaculis nunc eget, tincidunt arcu. Proin in eros sed sem ornare semper vel eu dolor.
          Quisque
          vitae accumsan tellus, et auctor risus. Ut non auctor nisi.
        </p>
        <p>Sed placerat id lacus quis dictum. Sed in tincidunt arcu. Morbi cursus lacinia nisi. Nulla vulputate,
          mi eget
          commodo condimentum, libero est ornare nulla, in lacinia quam risus nec quam. In pretium vehicula
          ante vitae
          convallis. Donec rutrum posuere dui ut ornare. Cras fringilla neque in nibh vestibulum bibendum.
        </p>
        <p>Donec ut pellentesque tortor. Pellentesque cursus, urna vel ullamcorper euismod, dolor libero
          faucibus mi, et
          placerat orci turpis sit amet quam. Duis ac elementum lectus, eleifend porttitor dolor. Ut
          elementum, est at
          pulvinar dictum, dui risus pretium nisl, sit amet tincidunt elit velit a urna. Donec finibus cursus
          diam nec
          consequat. Nam volutpat metus a mauris condimentum efficitur. Nulla facilisi. In hac habitasse
          platea
          dictumst.
        </p>
        <div class="well">
          <blockquote>
            <p>“Tu me dis, j'oublie. Tu m'enseignes, je me souviens. Tu m'impliques, j'apprends.”</p>
            <footer>Benjamin Franklin,
              <cite>Scientifique et homme politique américain, 1706-1790</cite>
            </footer>
          </blockquote>
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="card bg-primary">
          <div class="card-header">
            <h3 class="card-title">En Bref</h3>
          </div>
          <div class="card-body">
            <dl>
              <dt>Ouverture</dt>
              <dd>1986</dd>
              <dt>Enseignants</dt>
              <dd>68 enseignants permanents</dd>
              <dt>Administratifs</dt>
              <dd>36 administratifs et techniciens</dd>
              <dt>Nombre d'étudiants</dt>
              <dd>1230 (année universitaire 2015-2016)</dd>
              <dt>Superficie</dt>
              <dd>10 000 m2 de locaux</dd>
              <dt>Equipement</dt>
              <dd>800 ordinateurs</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-9">
        <h2>Organigramme</h2>
        <ngb-tabset>
          <ngb-tab title="Marie-Pierre Parenton, Dir." >
            <ng-template ngbTabContent>
              <h3>Marie-Pierre Parenton
                <small>Directrice de l'IUT de Lens</small>
              </h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras suscipit sagittis semper.
                Integer dolor
                turpis, efficitur eu lectus non, porttitor ornare arcu. Morbi interdum hendrerit elit quis
                dignissim. Etiam in lacinia purus. Phasellus convallis neque nec velit ultricies cursus.
                Duis
                pretium, neque nec hendrerit imperdiet, erat metus sagittis nisl, auctor ullamcorper ante
                orci at
                dui. Nunc pulvinar pretium ex, ut porta dolor vehicula eu. </p>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Frédéric Martin, Chef de dépt. TC" >
            <ng-template ngbTabContent>
              <h3>Frédéric Martin
                <small>Chef de département TC</small>
              </h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut ultricies nulla.
                Pellentesque
                mollis ultrices arcu, et finibus velit ullamcorper non. Phasellus nibh augue, fermentum
                tristique
                volutpat auctor, maximus a nisl. Maecenas ullamcorper lectus eget purus viverra commodo.
                Vestibulum
                id efficitur dui. Integer ac venenatis sapien. Vivamus in purus at purus mattis pharetra. In
                non
                porttitor tellus, sed imperdiet elit. Morbi vitae massa eget nulla auctor lacinia sed vitae
                mauris.
                Aliquam vitae quam ipsum. Duis porta vehicula sem auctor pretium. Proin non mauris ac tortor
                volutpat pharetra. Mauris at faucibus libero. Sed dictum feugiat luctus. </p>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Corinne Leys, Chef de dépt. GEA" >
            <ng-template ngbTabContent>
              <h3>Corinne Leys
                <small>Chef de département GEA</small>
              </h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id sapien quis arcu bibendum
                elementum.
                Praesent a suscipit dolor, vel placerat augue. In vestibulum, libero nec blandit semper,
                arcu nisl
                finibus magna, a lacinia purus metus vel nisl. Quisque in nisi aliquam, congue massa vitae,
                tincidunt lectus. Integer ut tristique massa. Donec porttitor nisi purus, quis maximus nunc
                tincidunt at. Sed sollicitudin, nunc vitae posuere tincidunt, lorem leo viverra sem, sit
                amet
                consequat ligula mauris sit amet nisl. Etiam condimentum sapien dolor, nec rhoncus est
                pretium et.
                Sed consectetur diam a accumsan condimentum. Nam velit erat, elementum sit amet fermentum
                id,
                commodo quis risus. Cras viverra ex eu pellentesque dignissim. Phasellus sed ultrices nibh,
                non
                varius tellus. In rhoncus arcu ipsum, iaculis dictum augue sollicitudin nec. Quisque varius
                porttitor eros consequat aliquam. Nullam vulputate, velit sit amet vehicula blandit, massa
                lacus
                sagittis nibh, id rutrum ligula eros sed metus. Ut a nisi tincidunt, vulputate ligula non,
                consequat
                felis. </p>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Assef Chmeiss, Chef de dépt. Info" >
            <ng-template ngbTabContent>
              <h3>Assef Chmeiss
                <small>Chef de département Informatique</small>
              </h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque placerat enim id nisi
                pulvinar
                egestas. Vestibulum eleifend posuere laoreet. Maecenas posuere quam eget sem tincidunt
                ultricies.
                Aliquam erat volutpat. Praesent luctus rhoncus nulla sed aliquet. Nulla facilisi. Nullam
                massa nibh,
                luctus in magna quis, dapibus volutpat dui. </p>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Yanne Viseur, Chef de dépt. MMI" >
            <ng-template ngbTabContent>
              <h3>Yanne Viseur
                <small>Chef de département MMI</small>
              </h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque elementum quam sit amet
                velit
                mattis, sed imperdiet magna pretium. Maecenas vitae molestie mi. In in porttitor erat, ut
                mattis
                velit. Pellentesque convallis turpis in lacus posuere commodo. Pellentesque sem nulla, porta
                at
                tristique sed, semper eu purus. Donec malesuada erat felis. In a lorem libero. Curabitur
                commodo
                elit vitae luctus cursus.</p>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
    <div>
      <p style="padding:20px;"></p>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-9">
        <h2>Quelques chiffres</h2>
        <div class="table-responsive">
          <table class="table table-striped">
            <tr>
              <td>&nbsp;</td>
              <th>2014</th>
              <th>2015</th>
              <th>2016</th>
            </tr>
            <tr>
              <th>Employees</th>
              <td>300</td>
              <td>312</td>
              <td>295</td>
            </tr>
            <tr>
              <th>Nombre de diplômés</th>
              <td>9999</td>
              <td>9999</td>
              <td>9999</td>
            </tr>
            <tr>
              <th>Nombre d'ordinateurs</th>
              <td>798</td>
              <td>820</td>
              <td>823</td>
            </tr>
            <tr>
              <th>Salles de classe</th>
              <td>80</td>
              <td>81</td>
              <td>85</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <p style="padding:20px;"></p>
      </div>
    </div>


    <!--
      <div style="text-align:center">
        <fa-icon [icon]="'far', ['faCoffee']"></fa-icon>
      </div>
    -->
    <!--
      <div style="text-align:center">
        <fa-icon [icon]="'fas', ['faCompass']"></fa-icon>
      </div>
    -->
  </div>
</main>
