<div class="container">
  <div class="row">
    <table id="tableau" class="table col-md-12">
      <thead class = 'thead-dark'>
      <tr class='ligne' id="header"><th>NOM</th><th>PRENOM</th></tr>
      </thead>
    </table>
  </div>
</div>
<script  src= "../../ressources/data/listeEtudiants.js"></script>
<script  src= "../../ressources/data/notesEtudiants.js"></script>
<script  src= "../../ressources/data/moyenneSemestreEtudiants.js"></script>
<script  src= "../../ressources/js/liste2.js"></script>
