<h3 class="first">Année universitaire 2018-2019</h3>

<p-table #dt [value]="etudiants$" sortMode="multiple" dataKey="id"  [globalFilterFields]="['nom','prenom', 'groupe']">
  <ng-template pTemplate="caption">
    <div style="text-align: right">
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      <input type="text" pInputText size="30" placeholder="Recherche" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3em"></th>
      <th *ngFor="let col of cols" [pSortableColumn]="col.field" >
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-etu>
    <tr>
      <td>
        <a href="#" [pRowToggler]="etu">
          <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
        </a>
      </td>
      <td *ngFor="let col of cols" [ngClass]="col.field=='id'? null : etu[col.field] < 8 ? 'insuffisant' : etu[col.field] < 10 ? 'nonValide' : null">
        {{etu[col.field]}}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-etu let-columns="cols">
      <td [attr.colspan]="cols.length + 1">
        <div class="ui-g ui-fluid" style="font-size:16px;padding:20px">
            <div class="ui-g-12 ui-md-3" style="text-align:center">
              <img [attr.alt]="etu.avatar" width="120" src="assets/images/{{etu.avatar}}">
            </div>
          <div class="ui-g-12 ui-md-9">
            <div class="ui-g">
              <div class="ui-g-12">
                <b>Numéro  :</b> {{etu.numero}}<br>
                <b style="text-transform: uppercase;">{{etu.nom}} </b> {{etu.prenom}}<br>
                <b>Groupe :</b> {{etu.groupe}}<br>
                <b>Date de naissance  :</b> {{etu.date}}<br>
                <b>Bac  :</b> {{etu.bac}}<br>
              </div>
              <div class="ui-g-12">

                <div class="ui-g-3" *ngFor="let item of etu.semestres | keyvalue" >
                  <b style="text-transform: uppercase;" >{{item.key}} : {{etu[item.key]}}</b>
                  <ul *ngFor="let ue of item.value | keyvalue">
                     <li [ngClass]="etu[ue.key] < 8 ? 'insuffisant' : etu[ue.key] < 10 ? 'nonValide' : null" >
                       <b style="text-transform: uppercase;" > {{ue.key}} : {{etu[ue.key]}} </b>
                     </li>
                     <ul *ngFor="let mat of ue.value | keyvalue" [ngClass]="mat.value < 8 ? 'insuffisant' : mat.value < 10 ? 'nonValide' : null">
                        <li> {{mat.key}} : {{mat.value}} </li>
                     </ul>
                  </ul>
                </div>

              </div>
            </div>
          </div>
        </div>
      </td>
  </ng-template>
</p-table>

