<div *ngIf="personne$ | async as personne" >
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="../../assets/{{personne.avatar}}">
      </div>
      <div class="col-md-8">
        <div class="col-md-12"></div>
        <div class="col-md-12">
          <h1>{{personne.nom}}</h1>
        </div>
        <div class="col-md-12">
          <h1>{{personne.prenom}}</h1>
        </div>
        <div class="col-md-12">
          <h4>Numéro etudiant : {{personne.numero}}</h4>
        </div>
      </div>
    </div>
  </div>
</div>


<div>
  <table class="col-md-12 table table-bordered table-striped">
    <thead class='thead-dark'>
    <tr class='ligne' ><th></th><th>Moyenne</th><th>Classement</th><th>Moyenne Promo</th><th>Max Promo</th><th>Min Promo</th></tr>
    </thead>
    <tbody >
    <tr *ngIf="personne$ | async as personne">
      <td>S1</td>
      <td>{{ personne.sm1.moyenne }}</td>
      <td>{{ personne.sm1.classement }}</td>
      <td>{{ personne.sm1.moyennePromo }}</td>
      <td>{{ personne.sm1.promoMax }}</td>
      <td>{{ personne.sm1.promoMin }}</td>
    </tr>
    <tr *ngIf="personne$ | async as personne">
      <td>S2</td>
      <td>{{ personne.sm2.moyenne }}</td>
      <td>{{ personne.sm2.classement }}</td>
      <td>{{ personne.sm2.moyennePromo }}</td>
      <td>{{ personne.sm2.promoMax }}</td>
      <td>{{ personne.sm2.promoMin }}</td>
    </tr>
    </tbody>
  </table>
</div>

