<div class="container">
  <form (ngSubmit)="onSubmit()" #name="ngForm">
    <div class="form-group">
      <label for="name">Nom</label>
      <input id="name" type="text" class="form-control" name="userName" required [(ngModel)]="student.nom">
      <label for="prenom">Prénom</label>
      <input id="prenom" type="text" class="form-control" name="userPrenom" required [(ngModel)]="student.prenom">
    </div>
    <button class="btn btn-default">Recherche</button>
  </form>
  L'étudiant recherché est {{student.nom}} {{student.prenom}}.
</div>

<div>
  <table class="col-md-12 table table-bordered table-striped">
    <thead class='thead-dark'>
    <tr class='ligne' ><th>id</th><th>Nom</th><th>Prenom</th><th>S1</th><th>S2</th><th>S3</th><th>S4</th></tr>
    </thead>
    <tbody >
    <tr *ngFor="let personne of personnes$ | async">
      <td> {{ personne.id }}</td>
      <a [routerLink]="['/personne', personne.id]"><td>{{ personne.nom }}</td></a>
      <td> {{ personne.prenom }}</td>
      <td> {{ personne.s1 }}</td>
      <td> {{ personne.s2 }}</td>
      <td> {{ personne.s3 }}</td>
      <td> {{ personne.s4 }}</td>
    </tr>
    </tbody>
  </table>
</div>

